<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1> so bai viet</h1>
<form method="post" action="/addbaiviet" enctype="multipart/form-data">
    <input name="tieude" placeholder="tiêu đề">
    <input name="noidung" placeholder="tiêu đề">
    <input name="baiviet" placeholder="tiêu đề">
    <input type="file" name="anh" multiple placeholder="Select file" >
    <button type="submit">Save</button>
</form>

</body>
</html>
