<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Số Bài Viết: <%=Title%></h1>

      <a href="/add"><button type="submit">Add</button></a>


    <a href="/get"><button type="submit">Bài Viết</button></a>

  </body>
</html>
